.sidenav {
  width: 200px;
  height: 0;
  color: grey;
  visibility: hidden;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  background: #ff9999;
}
span.menuitem {
  vertical-align: middle;
  color: white;
}
button {
  float: right;
  color: white;
  background-color: #ff9999;
  border: none;
  width: 42px;
  height: 35px;
  padding: 0;
}
body {
  margin: 0;
}
h3{
  margin-left: 20px;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
